.contenedor{
    display: grid;
    background-color: aquamarine;
    border-radius: 20px;
    gap: 20px;
}

.contenedor-trabajos{
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    place-items: center;
    
}

.card {
    background-size: cover;         
    background-position: center;     
    height: 300px;     
    width: 500px;             
    color: white;                 
    border-radius: 50px;     
    background-color: bisque;  
    padding: 20px;      
}




.textos{
    display: flex;
    color: rgb(0, 0, 0);
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;
}

hr{
    background-color: rgb(0, 136, 255);
    height: 3px;
    border: 0px;
    margin: 20px;
    width: 94%;

}


.h1{
    color: rgb(0, 136, 255);
    text-align: center;
}